@import '@/app/assets/styles/variables.scss';

.docPage {
  width: 100%;
  .docTheme {
    width: 90%;
    margin: 10px;
    padding: 5px 10px;
    background-color: $body-color;
    * {
      width: 100%;
    }
    h2 {
      margin: 5px 10px;
      font-family: 'Exo 2', serif;
      font-size: 19px;
      font-weight: 700;
      text-align: left !important;
    }
    button {
      border-bottom: 1px solid $red-color;
      background-color: $body-color;
      z-index: 10;
    }
    .doc__doc {
      margin: 5px 10px;
      padding: 5px 10px;
      font-family: 'Sofia Sans', serif;
      text-align: left;
      border-bottom: 1px solid rgb(124, 124, 124);
      h3 {
        margin: 5px 0;
        font-size: 20px;
        font-weight: 600;
      }
      p {
        margin: 0 15px;
        font-size: 16px;
        color: $gray-color;
      }
    }
  }
}
