@import '@/app/assets/styles/variables.scss';

.modal {
  .active {
    background-color: $g-color;
    border-bottom: 2px solid $red-color;
  }
  h4 {
    text-align: center;
  }
  .modalBtns {
    width: 100%;
    margin-top: 5px !important;
    border-bottom: 2px solid $g-color;
    button {
      padding: 5px 10px;
      border-radius: 6px 6px 0 0;
    }
  }
  .modalContent {
    position: relative;
    width: 100%;
    margin-top: 5px !important;
  }
}
