# backend
backend/secret_data/logs.log
backend/get_products_data/__pycache__
backend/utils/get_config/__pycache__
backend/utils/__pycache__
backend/get_products_data/collecting_primary_data/__pycache__/
backend/get_products_data/filtering_algorithms/__pycache__/
backend/__pycache__
test.py

#PyCharn
.idea
venv
.venv

# frontend

# Logs
frontend/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
