.cards_carousel {
  position: relative;
  width: inherit;
  height: max-content;
  margin: 10px;
  padding: auto;
  flex-direction: column;
}

@media (max-width: 796px) {
  .cards_carousel {
    height: max-content;
  }
}
