@import '@/app/assets/styles/variables.scss';

.card_item {
  position: relative;
  width: 30vw;
  max-width: 450px;
  height: 65vh;
  max-height: 350px;
  padding: 5px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: $card-color;
  transition: all 0.3s;

  .card_item__info {
    margin: 5px 0;
    * {
      margin: 10px 3px 0 3px;
    }
    .card_item__name {
      font-size: 14px;
      font-weight: 600;
    }
    .card_item__price {
      font-size: 15px;
      font-weight: 700;
      text-align: right;
      color: $red-color;
    }
  }

  .card_item__image {
    width: auto;
    height: 70%;
    object-fit: contain;
    margin: 0;
    border-radius: 5px;
  }
  &:hover {
    // CODE
  }
}

@media (max-width: 1800px) {
  .card_item {
    width: 26vw;
    max-width: 430px;
    height: 55vh;
    max-height: 320px;
    .card_item__image {
      height: 60%;
    }
  }
}

@media (max-width: 796px) {
  .card_item {
    width: 60vw;
    font-size: 11px;
  }
}
