@import '@/app/assets/styles/variables.scss';

.card_item {
  position: relative;
  width: 25vw;
  height: 300px;
  padding: 5px;
  margin: 5px;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: $card-color;
  * {
    margin: auto 5px;
  }
  .card_item__info {
    * {
      margin: 10px 3px;
    }
    .card_item__name {
      font-weight: 600;
    }
    .card_item__price {
      font-weight: 700;
      text-align: right;
      color: $red-color;
    }
  }
  .card_item__image {
    width: auto;
    height: 60%;
    object-fit: contain;
    margin: 0;
    border-radius: 5px;
  }
}

@media (max-width: 798px) {
  .card_item {
    width: 60vw;
  }
}
