header{
    position: fixed;
    background-color: black;
    width: 99%;
    height: 10%;
    border-radius: 10px;
}

.header{
    color: greenyellow;
    padding: 5px;
    background-color: red;
    border-radius: 2px;
    margin-right: 0;
    width: 20%;
}