{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Title</title>
    </head>
    <body>
        {% block base %}
        {% endblock %}

        <div class="container">
            {% for marketplace, ads_list in ads.items() %}
            <div class="marketplace-container" id="marketplace-{{ marketplace }}">

                <button class="arrow left" onclick="scrollAd('{{ marketplace }}', -1)">&#9664;</button>

                <div class="ad-card" id="ad-{{ marketplace }}">
                    <div class="marketplace">
                        {{ marketplace }}
                    </div>
                    <div class="ad-number" id="ad-number-{{ marketplace }}">
                        1
                    </div>
                    <a href="{{ ads_list[0]['link'] }}">
                        <img src="{{ ads_list[0]['image'] }}" alt="{{ ads_list[0]['name'] }}" class="ad-image" id="ad-image-{{ marketplace }}">
                        <div class="ad-content">
                            <h3 id="ad-name-{{ marketplace }}">{{ ads_list[0]['name'] }}</h3>
                            <p id="ad-price-{{ marketplace }}">{{ ads_list[0]['price'] }} BYN</p>
                        </div>
                    </a>
                </div>

                <button class="arrow right" onclick="scrollAd('{{ marketplace }}', 1)">&#9654;</button>
            </div>
            {% endfor %}
        </div>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
        <script>
            window.ads = {{ ads|tojson }};
        </script>

    </body>
</html>