<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <title>Error 422 - Unprocessable Content</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='unauthorized_page/unauthorized_page.css') }}">

<body>
<div class="container">
    <div class="github-link">
        <a href="https://github.com/koloideal/Findly" target="_blank">
            <img src="{{ url_for('static', filename='unauthorized_page/github_icon.png') }}" alt="GitHub">
        </a>
    </div>
    <h1>422</h1>
    <br><br><br>
    <p id="title">Unprocessable Content</p>
    <p id="description">Incorrect parameter values or lack of necessary ones in the URL</p>
    <a href="/" class="button">Go to Homepage</a>
</div>
</body>

</html>
