.df {
  display: flex;
}

.dg {
  display: grid;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.fdc {
  flex-direction: column;
}

// COLORS

.cw {
  color: #fff;
}

.cb {
  color: #000;
}
